<html lang="en">

<head>
    <% include ../helpers/head %>
</head>

<body>

    <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
        <% include ../helpers/navbar %>

            <h1>Hello World!</h1>
    </div>

    <p id="demo">
        <% include ../helpers/demo %>
    </p>

    <input class="search" type="text" placeholder="Enter Week (1-16)">
    <button type="button" onClick="searchRankings()">Search</button>

    <div class="error-message"></div>

    <div class="poll"></div>

    <div>Week: <span class="week"></span></div>

    <div class="ranks">
        <span class="rank"></span> <span class="school"></span> <span class="conference"></span> <span class="firstPlaceVotes"></span> <span class="points"></span>
    </div>

    <button class="btn btn-default" type="button" onclick="myFunction()">
        Try it something else...
      </button>

    <div id="doge-image"></div>

</body>

</html>